@import '../../styles/utils';

.textfield {
  &__heading {
    margin: 10px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__label {
    width: 400px;

    @media (max-width: 450px) {
      max-width: 300px;
    }
  }

  &__text {
    height: 150px;
  }

  &__button {
    width: 400px;

    @media (max-width: 450px) {
      max-width: 300px;
    }
  }

  &__empty {
    color: $wrong-pass-color;
  }
}
