@import '../../styles/utils';

.login {

  &__heading {
    @include heading;
  }

  &__form {
    position: relative;
    display: flex;
    width: 600px;
    margin: 50px auto;
  }

  &__input {
    margin: 0 10px;
  }

  &__button {
    margin: 0 10px;
  }

  &__wrongPassword {
    position: absolute;
    bottom: 40px;
    right: 180px;
    color: $wrong-pass-color;
  }
}
